body{/**CONFIURACIONES BASICAS*//*background-color:#030B4E; // POR SI NO ME GUSTA EL DEGRADADO*/
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient( #06116d, #19191b); /*PRUEBA DE COLOR DEGRADADO*/
    color: white;
    margin: 0;
    padding: 0;
}

#nomEmpre {
    text-align: center;
    padding: 1%;
    font-size: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 5px 20px 10px rgb(14, 14, 14);
}

header {
    line-height: 80%;
    margin: auto;
}

.banner{
    border: 5px solid white;
    width: 99%;
    height: auto;
    margin-top: 2%;
}

.logoRedondo{
    width: 11%;
    height: 11%;
    border-radius: 100%;
    border: 2px solid white;
    margin-right: 0%;
}

#titu-menu {
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 1%;
    text-align: center;
    margin-right: 70%;
    text-shadow: 5px 20px 10px rgb(14, 14, 14);
}

.nav-menu {
    color: white;
    font-size: 1.4rem;
    padding: 2%;
    text-align: center;
    text-shadow: 5px 20px 10px rgb(14, 14, 14);
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0%;
}

.menu-list li {
margin-right: 3rem;
}

.menu-list li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.menu-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
}

.menu-list li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .4s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.menu-list li a:hover::after {
    width: 100%;
}

hr{/*LINEAS  DE DISEÑO TODAS LAS PAGINAS*/
    height: 3px;
    width: 90%;
    background-color: white;
}

.bienvenida h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    margin: 2%;
    text-shadow: 5px 20px 10px rgb(14, 14, 14);
}

.bienvenida p{
    display: flex;
    justify-content: left;
    text-align: left;
    font-size :large;
    margin: 1%;
}

.imagenbien{
    width:20% ;
    height: auto;
    border-radius: 90%;
    border: 10px solid #06116d;
    
}
.contenedor{
    text-align: center;
}

.imagentp{
    max-width: 70%;
    width:70% ;
    height: auto;
    border: 10px solid whitesmoke;
    border-radius: 5%;
    
}

.contenedortp{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin: 2% auto;
}
/*CSS PAGINA DE IMPACTO SOCIAL*/
.contenido1 h2{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    text-shadow: 5px 20px 10px rgb(14, 14, 14);
}

.contenido1 p{
    display: flex;
    justify-content: center;
    font-size: large;
    margin: 1%;
}

.contenido1 h3{
    display: flex;
    justify-content: left;
    font-size: 1.2rem;
    margin: 1%;

}
.listaCm{
    font-size: large;
    margin: 1%;
}

.contenedorS{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: auto;
    margin-top: 20px;
}

.imagenS1{
    width: 30%;
    height: auto;
    border-radius: 5%;
    border: 5px solid white;
    margin: 2%;
}

.imagenS2{
    width: 35%;
    height: auto;
    border-radius: 3%;
    border: 5px solid white;
    margin: 2%;
}

.contenedorVS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 10px;
}

.videoS{
    margin-bottom: 10px;
}

.autorVS{
    background-color: white;
    font-size: larger;
    font-family: 'Oswald', sans-serif;
    border: 5px solid whitesmoke;
    border-radius: 5%;
}
/*CSS PAGINA IMPACTO EN LOS NEGOCIOS*/
.contenedorN{
    padding: 2%;
    font-size: larger;
}

.contenedorN h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 20px 10px rgb(14, 14, 14);
}

.imagenN{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    align-items: center;
}

.imgn1{
    border: 5px solid whitesmoke;
    border-radius: 5%;
}

.videosNA{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: black;
    border: 5px solid whitesmoke;
}

.videoNA iframe{
    flex: 1;
    max-width: 100%;
}

footer{ /*FOOTER GENERALES DE TODAS LAS PAGINAS*/
    background-color: #191a1b;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}
/*CSS PARA LA PAGINA DE CONTECTOS*/
.redes-contenedor *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --facebook: #3b5999e5;
    --instagram: #e4405f;
    --tiktok: #000000bb;
    --x: #000;
    --youtube: #d80f08ef;
    --linkedin: #0e76a8;
}

.redes-contenedor{
    display: flex;
    height:100% ;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.redes-contenedor ul li{
    display: inline-block;
    margin: 0 5px;
    width: 80px;
    height: 50px;
    text-align: center;
}

.redes-contenedor ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 80px;
    font-size: 30px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,.2);
    transition: .8s;
}

.redes-contenedor ul:hover a{
    filter: blur(3px);
}

.redes-contenedor ul li a:hover{
    transform: translateY(-5px) scale(1.2);
    box-shadow: 0 5px 5px 0px rgba(0,0,0,.4);
    filter: none;
}

.redes-contenedor ul li .facebook:hover{
    background: var(--facebook);
}

.redes-contenedor ul li .instagram:hover{
    background: var(--instagram);
}

.redes-contenedor ul li .tiktok:hover{
    background: var(--tiktok);
}

.redes-contenedor ul li .x:hover{
    background: var(--x);
}

.redes-contenedor ul li .youtube:hover{
    background: var(--youtube);
}

.redes-contenedor ul li .linkedin:hover{
    background: var(--linkedin);
}
.contenido-cont p{
    margin: 1%;
    padding: 2%;
    margin: 2%;
    font-size: large;
}
/*SERVICIOS DE PAGINAS E CONTECTOS*/
.contenedor-servicios{
    display: flex;
    justify-content: center;
    gap: 2%;
}

.cuadrado {
    width: calc(50% - 1%);
    background: #3f3939b0;
    margin-bottom: 2%;
    padding: 2%;
    box-sizing: border-box;
    color: #f3ececea;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.servicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.servicio img {
    width: 30%;
    margin-left: 10px;
}

.cuadrado h3 {
    margin: 0;
    flex: 1;
    text-align: left;
    font-size: 1.4rem;
}

.contenedor-con h2 {
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 20px 10px rgb(14, 14, 14);
}
/* FORMULARIO QUE ROMPE LA PASIENCIA*/
.contenedor-principal *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-principal{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.form-cont{
    background: linear-gradient(
        50deg,
        rgba(40,42,55,1)50%,
        rgba(40,42,55,0.7)),
        url(/imageness/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 250px;
    border-radius: 25px; 
}

.form-cont h2{
    color: #f4f6f9;
    font-size: 20px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    font-size: 14px;
    color: #959aab;
    margin-bottom: 8px;
}

input , textarea{
    padding: 18px 12px;
    background-color: #333646;
    border: 0;
    font-size: 14px;
    color: #f4f6f9;
    margin-bottom: 14px;
    border-radius: 1px;
}

.focus{
    outline: 1px solid #1e92e9;
}

.btn:hover{
    background-color: #1e92e9;
}
/*TABLAS DE LA PAGINA HORARIOS*/
.contenedor-tablas *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor-tablas1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}

table{
    color: #ffff;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead{
    background: rgb(128, 127, 126);
}

th{
    padding: 10px 10px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 10px;
    border: solid 2px rgba(255, 255, 255, 0.2);
}

tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background: rgba(255, 255, 255, 0.4);
}

.horarios-cont h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 20px 10px rgb(14, 14, 14);
    font-size: 2rem;
}

.horarios-cont h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.horarios-cont h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 20px 10px rgb(138, 135, 135);
}